@charset "UTF-8";
/*!
Auteur: MArie-Pier Tsingakis
Version: 1.0.0
License: GNU General Public License v2 or later

*/
/*--------------------------------------------------------------
>>> LISTE DES FICHIERS SCSS IMPORTÉS 
----------------------------------------------------------------
# variables
# extend
# mixins
# typography
# elements
# entete
# layout
# navigation
# pied-page
# slider

/*----------------------------------------------------------------
# variables
--------------------------------------------------------------*/
/*----------------------------------------------------------------
# extend
--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap);
.font-background-color, h2, footer > p {
  color: #3f4c86;
  text-decoration: underline;
}

/*----------------------------------------------------------------
# mixins
--------------------------------------------------------------*/
header {
  margin: 0;
  /*margin-top: 7%;*/
  text-align: center;
}

/*----------------------------------------------------------------
# typography
--------------------------------------------------------------*/
h1, h2, header, a {
  font-family: "Montserrat";
}

p, h4 {
  font-family: "Open Sans Condensed";
}

/*----------------------------------------------------------------
# elements
--------------------------------------------------------------*/
p {
  font-size: 1.3em;
}

@media screen and (min-width: 500px) {
  p {
    font-size: 1.6em;
  }
  a {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 700px) {
  a {
    font-size: 1.1em;
  }
}

/*----------------------------------------------------------------
# animNav
--------------------------------------------------------------*/
@-webkit-keyframes animMenu {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes animMenu {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.animMenu {
  -webkit-animation: animMenu 7s forwards;
          animation: animMenu 7s forwards;
}

/*----------------------------------------------------------------
# entete
--------------------------------------------------------------*/
header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28vh;
  margin-bottom: 0;
}

h1, header p {
  color: white;
}

h1 {
  font-size: 200%;
}

@media screen and (min-width: 500px) {
  header {
    height: 20vh;
    margin-top: 7% !important;
  }
  h1 {
    margin: 0;
    font-size: 250%;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 350%;
  }
}

/*----------------------------------------------------------------
# animHeader
--------------------------------------------------------------*/
@-webkit-keyframes animHeader {
  from {
    background-color: white;
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
  }
  20% {
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background-color: #696c8a;
  }
}
@keyframes animHeader {
  from {
    background-color: white;
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
  }
  20% {
    -webkit-transform: scale(10, 10);
            transform: scale(10, 10);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background-color: #696c8a;
  }
}

.animHeader {
  -webkit-animation: animHeader 5s forwards;
          animation: animHeader 5s forwards;
}

/*----------------------------------------------------------------
# animTitre
--------------------------------------------------------------*/
@-webkit-keyframes animTitre {
  from {
    opacity: 0;
    color: #696c8a;
  }
  80% {
    opacity: 0;
    color: #696c8a;
  }
  100% {
    opacity: 100%;
    color: white;
  }
}
@keyframes animTitre {
  from {
    opacity: 0;
    color: #696c8a;
  }
  80% {
    opacity: 0;
    color: #696c8a;
  }
  100% {
    opacity: 100%;
    color: white;
  }
}

.animTitre {
  -webkit-animation: animTitre 6s forwards;
          animation: animTitre 6s forwards;
}

/*----------------------------------------------------------------
# layout
--------------------------------------------------------------*/
main {
  background-color: #e7ecf1;
  height: 100%;
}

header {
  margin-bottom: 0;
}

h2, p {
  width: 70%;
  margin: 0;
  left: 0;
  padding-top: 20px;
  margin: 0 auto;
}

/*----------------------------------------------------------------
# navigation
--------------------------------------------------------------*/
#chkBoutonBurger:checked ~ ul {
  max-height: 200px;
}

#chkBoutonBurger:checked ~ ul > li {
  opacity: 1;
}

/*Les effets de transitions sur les 3 lignes du boutons burger*/
#chkBoutonBurger:checked ~ .boutonBurger > .ligne:first-child {
  -webkit-transform: translateY(15px) rotate(45deg);
          transform: translateY(15px) rotate(45deg);
}

#chkBoutonBurger:checked ~ .boutonBurger > .ligne:nth-child(2) {
  opacity: 0;
}

#chkBoutonBurger:checked ~ .boutonBurger > .ligne:last-child {
  -webkit-transform: translateY(-15px) rotate(-45deg);
          transform: translateY(-15px) rotate(-45deg);
}

/*Effets d'animation CSS sur le bouton burger lorsque le menu est affiché*/
@-webkit-keyframes tournerBoutonBurger {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes tournerBoutonBurger {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%, to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#chkBoutonBurger:checked ~ .boutonBurger {
  -webkit-animation: tournerBoutonBurger es infinite 1s;
          animation: tournerBoutonBurger es infinite 1s;
}

#chkBoutonBurger {
  display: none;
}

.boutonBurger {
  width: 42px;
  height: 36px;
  cursor: pointer;
  /*Conteneur flex*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ligne {
  width: 100%;
  height: 6px;
  background-color: white;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #696c8a;
  width: 100%;
  z-index: 5;
  margin-top: 0;
}

#menu ul {
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  max-height: 0px;
  height: auto;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
}

#menu ul li {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#menu ul li a {
  text-decoration: none;
  display: block;
  padding: 2px 2px 2px 2px;
  color: #13141b;
  font-weight: bold;
}

#menu ul li a:hover {
  color: #fff;
}

#menu ul li a:last-child {
  padding-bottom: 15px;
}

@media screen and (min-width: 500px) {
  .boutonBurger {
    display: none;
  }
  nav {
    position: static;
  }
  #menu {
    position: static;
    height: 7%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 0;
    top: 0;
    position: fixed;
    border-bottom: 1px solid #fff;
  }
  #menu ul {
    height: 26px;
    margin: 0;
    overflow: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 1;
    padding: 0;
  }
  #menu ul li {
    opacity: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    vertical-align: center;
  }
  #menu ul li a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 26px;
    padding-top: 11px;
  }
}

@media screen and (min-width: 1000px) {
  #menu {
    height: 15%;
  }
  #menu a {
    font-size: 150%;
  }
}

/*----------------Animations----------------*/
/*@keyframes animMenu {
    from  {
        opacity: 0;
    }
    90% {
        opacity : 0;
    }
    to  {
        opacity: 100%;
    }
}*/
/*----------------------------------------------------------------
# piedPage
--------------------------------------------------------------*/
footer {
  padding-top: 5px;
  padding-bottom: 15px;
  color: #63639c;
  background-color: #b0b2c3;
}

#wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1,1fr;
      grid-template-columns: 1,1fr;
  -ms-grid-rows: 2,1fr;
      grid-template-rows: 2,1fr;
  justify-items: center;
}

@media screen and (min-width: 500px) {
  #wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1,1fr;
        grid-template-rows: 1,1fr;
  }
  #wrap2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/ span 1/ span 1;
  }
}

/*----------------------------------------------------------------
# slider
--------------------------------------------------------------*/
.slider > nav > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 5px 0.5rem 0;
  position: relative;
  margin-top: 10px;
}

.slider > nav > a:active {
  background: black;
}

.slider > nav > a:focus {
  background: black;
}

.slider > nav {
  background-color: rgba(21, 230, 21, 0);
  width: 300px;
}

.mon-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #e7ecf1;
  font-family: 'Ropa Sans', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slider {
  width: 300px;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides div > h2 {
  font-size: 1.5rem;
  z-index: 100;
  position: absolute;
  top: -20px;
  background-color: rgba(0, 0, 0, 0.219);
  color: #e7ecf1;
  width: 100%;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: #696c8a;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 100px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 400px) {
  .slider, .slides {
    width: 200px;
  }
  .slider > nav {
    width: 200px;
  }
  .slides > div {
    width: 200px;
    height: 200px;
  }
  .slides > div > h2 {
    font-size: 1rem;
    top: -10px;
  }
  .slides > div > p {
    font-size: 0.8rem;
    bottom: 0px;
  }
}

/*-------------------------------------------------------------- */
/*# sourceMappingURL=style.css.map */