p{
    font-size: 1.3em;
}


@media screen and (min-width : 500px){
    p{
        font-size: 1.6em;
    }

    a{
        font-size: 0.9em;
    }
}
@media screen and (min-width : 700px){
    
    a{
        font-size: 1.1em;
    }
}


