.font-background-color{
    background-color:  $couleur_mauve;
    color:white;
}

#menu {
    @extend .font-background-color;
}

header{
    @extend .font-background-color;
}
footer{
    @extend .font-background-color;
}

.text-center{
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
}

header{
    @extend .text-center;
}
footer{
    @extend .text-center;
}