header {
    //background-color: rgb(105, 108, 138);
    display: grid;
    align-items: center; 
    height: 28vh;
    margin-bottom: 0;
}

h1, header p{
    color: white;
}

h1 {
    font-size: 200%;
}

@media screen and (min-width : 500px){

    header {
        height: 20vh;
        margin-top: 7%!important;
    }

    h1 {
        margin: 0;
        font-size: 350%;
    }

}